:host {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

:host > div{
    position: absolute;
    width: 499px;
    top: 50%;
    height: 250px;
    border: 1px solid;
    left: 50%;
    transform: translate3d(-50%, -50%, 0px);
}