

html,body {
    height: 100%;
    width: 100%;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    display: block;
}

topdown-demo {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate3d(-50%,-50%,0) scale(3.5);
    image-rendering: pixelated;
    top: 50%;

/*position: relative;
left:50%;*/
}




.layer.Ground .tile {
    background-image:url(resources/maps/topdown/atlas_16x.png);
    background-repeat: no-repeat;
    /*background-position:center;*/
    width:16px;
    height:16px;
    border:0px solid black;
    position:absolute;
    background-position:-512px;
}

.layer.Objects .tile {
    background-image:url(resources/maps/topdown/atlas_16x.png);
    background-repeat: no-repeat;
    /*background-position:center;*/
    width:16px;
    height:16px;
    border:0px solid black;
    position:absolute;
    background-position:-16px;
}

.layer.Houses .tile {
    background-image:url(resources/maps/topdown/atlas_16x.png);
    background-repeat: no-repeat;
    /*background-position:center;*/
    width:16px;
    height:16px;
    border:0px solid black;
    position:absolute;
    background-position:-16px;
}


