@font-face{
    font-family: pixelated;
    src: url(../../../../resources/fonts/rubber-biscuit/RUBBBB__.TTF);
}
:host {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-image: url(../../../resources/images/startmenu--moon_pixel_art.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:white;
    z-index: 100;
}

:host > div {
    position: absolute;
    /*width: 499px;*/
    top: 50%;
    /*height: 250px;*/
    border: 1px solid;
    left: 50%;
    transform: translate3d(-50%, -50%, 0px);
    background: rgba(0,0,0,.5);
    border-radius: 5px;
    width: 46vw;
    height: 65vh;
    box-shadow: 1px 6px 8px 9px rgba(0,0,0,.4);
    border: 1px solid rgba(255,255,255,.35);
}

:host #menuButtonsContainer{
    width: 100%;
    height: 100%;
    display: grid ;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: auto;

}
:host .menuStartButton{
    font-family: pixelated;
    color: black;
    font-size: 3vh;
    outline: none;
    background-color: white;
    justify-self: center;
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
    height: auto;
    width: auto;
    border: 20px solid transparent;
    border-image: url(../../../resources/images/pauseMenuBorder.png) stretch;
    border-image-slice: 30;   
}
:host .menuStartButton:hover{
    color: yellowgreen;
    cursor: pointer;
}