:host {
    font-size: x-large;
    display: block;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    text-align: center;
    padding: 58px;
    box-sizing: border-box;
}

:host .section{

}
