<template>
    <canvas class="stretch"></canvas>
    <div id="crawl-container" class="stretch">
      <div id="crawl">
        <div id="crawl-content">
        <h1 class="hdr">The Team</h1>
        <img src="../../../../resources/images/spaceman-walk4-f.gif"/><font color="red">Aliensonhigh - artist - tiles/sprite/animation art</font><br>
        <img src="../../../../resources/images/spaceman-walk4-f.gif"/><font color="orange">Bagel03 - coder - camera/maps</font><br>
        <img src="../../../../resources/images/spaceman-walk4-f.gif"/><font color="yellow">Chizel9000 - artist/coder - character/starfield</font><br>
        <img src="../../../../resources/images/spaceman-walk4-f.gif"/><font color="green">Nashborn - coder - UI State Machine</font><br>
        <img src="../../../../resources/images/spaceman-walk4-f.gif"/><font color="blue">Nemo - coder? - story?</font><br>
        <img src="../../../../resources/images/spaceman-walk4-f.gif"/><font color="purple">Ribera[Aldehyt] - coder - Menu Start</font><br>
        <img src="../../../../resources/images/spaceman-walk4-f.gif"/><font color="violet">Sebi - coder - Pause Screen / Collision Detection</font><br>
        <img src="../../../../resources/images/spaceman-walk4-f.gif"/><font color="white">and You the Player<br> Thank You for playing!</font><br>
        <br>for mor info visit us @ website.com<img src="../../../../resources/images/spaceman-walk4-f.gif"/><br>
        </div>
      </div>
    </div>
</template>