@font-face{
    font-family: pixelated;
    src: url(../../../../resources/fonts/rubber-biscuit/RUBBBB__.TTF);
}
:host {
    display: none;
    font-family: monospace;
}
:host .layer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
}
:host .layer .container {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    /* lift element by 50% of its own height */
    transform: translateY(-50%);
    opacity: 1;
}
:host .layer .container div {
    font-family: pixelated;
    display: inline-block;
    background: white;
    font-size: 1.2em;
    cursor: pointer;
    margin: 1em;
    width: 20%;
    border: 20px solid transparent;
    border-image: url(../../../resources/images/pauseMenuBorder.png) stretch;
    border-image-slice: 30;
}
/* between each div is a br */
:host .layer .container div:nth-child(1) {
    transform: skew(1deg, .3deg);
}
:host .layer .container div:nth-child(3) {
    transform: skew(3deg, -2deg);
}
:host .layer .container div:nth-child(5) {
    transform: skew(3deg, -.2deg);
}
:host .layer .container div:nth-child(7) {
    transform: skew(.3deg, -2deg);

}